* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #369;
    font-size: 250%;
    margin-bottom: .8em;
}

label {
    font-weight: 800;
    margin: 0 1em 1em 0;
}

input {
    width: 2.6em;
    height: 2em;
}

button {
    margin-top: .8em;
}